{% extends "base.html" %}

{% block body %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Gender</th>
      <th>Price</th>
      <th>Description</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    
    {% for product in products %}
    <tr>
      <th>{{product.pid}}</th>
      <td>{{product.name}}</td>
      <td>{{product.brand}}</td>
      <td>{{product.gender}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>{{product.color}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    
{% endblock body %}     